@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$primary-color: #299145;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
